.clockComponent {
    grid-column: 2 / 5;
    border: 1px solid gray;
}

.text {
    text-align: center;
    color: crimson;
    text-transform: uppercase;
}

.clock {
    padding: 10px;
    border: 5px solid grey;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    position: relative;
    left: 20%;
}